<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">tp6</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <!-- Patients Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="patientsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Patients
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="patientsDropdown">
                        <li><a class="dropdown-item" routerLink="patients">Liste des Patients</a></li>
                        <li><a class="dropdown-item" routerLink="add">Ajouter un Patient</a></li>
                    </ul>
                </li>
                <!-- RENDEZVOUS Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="rendezvousDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Rendezvous
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="rendezvousDropdown">
                        <li><a class="dropdown-item" routerLink="rendezvous">Liste des Rendezvous</a></li>
                        <li><a class="dropdown-item" routerLink="rendezvous/add">Ajouter un Rendezvous</a></li>
                    </ul>
                </li>

                <!-- Medecins Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="medecinsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Médecins
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="medecinsDropdown">
                        <li><a class="dropdown-item" routerLink="medecins">Liste des Médecins</a></li>
                        <li><a class="dropdown-item" routerLink="medecin-add">Ajouter un Médecin</a></li>
                    </ul>
                </li>

                <!-- Specialities Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="specialitiesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Spécialités
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="specialitiesDropdown">
                        <li><a class="dropdown-item" routerLink="specialities">Liste des Spécialités</a></li>
                        <li><a class="dropdown-item" routerLink="specialities-add">Ajouter une Spécialité</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
