/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: rgb(238, 243, 248);
}

/* General Styles */
input {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  padding: 5px 10px;
  width: 100%;
}

.loading-message,
.error-message {
  color: #6c757d;
  margin: 15px 0;
  text-align: center;
}

.error-message {
  color: #dc3545;
}

/* Home Page */
.home-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px;
  width: 80%;
}

.home-header {
  margin-bottom: 20px;
  text-align: center;
}

.home-name {
  color: #333333;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  margin-bottom: 20px;
  text-align: center;
}

/* Table Styles */
.device-table {
  border-collapse: collapse;
  width: 100%;
}

.device-table th,
.device-table td {
  border: 1px solid #dee2e6;
  color: #333333;
  max-width: 100px;
  padding: 12px;
  text-align: center;
}

.device-table th {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

.device-table tr:nth-child(even) {
  background-color: #f8f9fa;
}

.device-table tr:hover {
  background-color: #e9ecef;
}

/* Buttons */
button {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin: 5px;
  padding: 8px 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button[disabled] {
  background-color: #a94442; /* Dark red for disabled buttons */
  color: #fff;
  cursor: not-allowed;
}

button.active-button {
  background-color: #28a745; /* Green */
}

button.inactive-button {
  background-color: #a94442; /* Dark red for inactive devices */
}

.enter-button {
  background-color: #28a745;
}

.enter-button:hover {
  background-color: #218838;
}

.remove-button {
  background-color: #ff4d4d;
}

.remove-button:hover {
  background-color: #e03e3e;
}

/* Status Badges */
.status-badge {
  border-radius: 20px;
  color: white;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 6px 12px;
  text-transform: uppercase;
}

.connected-badge {
  background-color: #28a745; /* Green for connected */
}

.disconnected-badge {
  background-color: #dc3545; /* Red for not connected */
}

/* Toast Notifications */
.error-toast {
  animation: fadeOut 4s forwards;
  background-color: #dc3545;
  border-radius: 5px;
  bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 10px 20px;
  position: fixed;
  right: 20px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
