<div class="container">
  <div class="header">
    <h1>Energy Consumption Dashboard</h1>
    <p>Week Energy Statistics</p>
  </div>

  <div class="stats">
    <!-- Room with highest consumption -->
    <div class="stat-card">
      <h3>Room with Highest Energy Consumption</h3>
      <h4 *ngIf="rooms.length > 0">{{ rooms[0].name }}</h4>
      <div class="circle-chart">
        <div class="pie">
          <div class="label center-label"></div>
        </div>
        <div class="legend">
          <div *ngFor="let room of rooms; let i = index">
            <span
              class="color-box"
              [style.background-color]="getRandomColor(i)"
            ></span>
            {{ room.name }} ({{ getRoomPercentage(room) }}%)
          </div>
        </div>
      </div>
      
    </div>

    <!-- Most consuming devices -->
    <div class="stat-card">
      <h3>Top Consuming Devices</h3>
      <ul class="devices-list">
        <li *ngFor="let device of devices">
          <span class="device-name">{{ device.name }}</span>
          <span class="consumption">{{ device.randomConsumption }}%</span>
        </li>
      </ul>
    </div>

    <!-- General energy consumption -->
    <div class="stat-card">
      <h3>Total Weekly Consumption</h3>
      <p>500 kWh</p>
    </div>
  </div>
</div>