.home-container {
    padding: 20px;
  }
  
  .home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .rooms-list {
    margin-top: 20px;
  }
  
  .room-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  input {
    margin-left: 10px;
  }
  
  .btn-edit {
    margin-left: 10px;
  }
  
  .btn-remove {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
  }
  
  .btn-enter {
    background-color: blue;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
  }
  