<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">tp6</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="patients" class="nav-link">Patients</a>
      </li>
      <li class="nav-item">
        <a routerLink="medecins" class="nav-link">Medecins</a>
      </li>
      <li class="nav-item">
        <a routerLink="specialities" class="nav-link">Specialities</a>
      </li>
      <li class="nav-item">
        <a routerLink="rendezvous" class="nav-link">rendezvous</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
