/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

h2 {
  color: #007bff;
  margin-bottom: 20px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  width: 100%;
}
/* Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  table {
    font-size: 0.9em;
  }

  button,
  input,
  .add-patient-button {
    font-size: 0.9em;
  }
}
