body {
  font-family: Arial, sans-serif;
  background-color: rgb(233, 242, 255);
  margin: 0;
  padding: 0;
}

.background-container {
  width: 80%;
  margin-left: 10%;
  box-shadow: 2px 2px 7px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  height: 80vh;
  background-image: url('/assets/smarthome-image.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.register-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-wrapper {
  margin-top: -150px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 30%;
}

.register-form h2 {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #3498DB;
  color: #fff;
  border: none;
}

.btn-primary:hover {
  background-color: #007bff;
}

.error {
  color: #dc3545;
  margin-top: 10px;
}
